// MAIN COLORS
$clrBG: #f6f6f8;
$clrPrimary: #2aa160;
$clrSecondary: #3d68c1;
$clrAccent1: #22814d; //Buttons, Links
$clrAccent2: #31539a; //Buttons, Links

// NEUTRAL COLORS
$wht: #fff;
$wht-mid: #e6e6e6;
$gry-light: #cccccc;
$gry-mid: #666666;
$gry-hvy: #333333;
$blk: #1a1a1a;

// FONT SIZES
$ft-smlr: 0.675rem; //12px
$ft-sm: 0.875rem; //14px
$ft-main: 1rem; //16px
$ft-med: 0.125rem; //18px
$ft-lgr: 1.125rem; //20px
